section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* O ajusta la altura según tus necesidades */
}



@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');


.letras {
  width: 400px;
  height: 450px;
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 8rem;
  position: absolute;
  text-shadow: -15px 5px 20px #d1ced3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #ccd3f9;
  text-shadow: 5px 5px 0px #A58FD4, 
    10px 10px 0px   #7D26CD, 
    15px 15px 0px  #770098, 
    20px 20px 0px #b550ef, 
    25px 25px 0px  #9368acfa, 
    30px 30px 0px #c190e0;
}



/* Estilos para pantallas más pequeñas (ej. móviles) */
@media screen and (max-width: 768px) {
    .letras {
        font-size: 1.8em; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        margin-top: 120px; /* Ajusta el margen superior para pantallas más pequeñas */
        text-align: center;
    }
}

/* Estilos para pantallas muy pequeñas (ej. dispositivos móviles) */
@media screen and (max-width: 480px) {
    .letras {
        font-size: 1.5em; /* Ajusta el tamaño del texto para pantallas muy pequeñas */
        margin-top: 10px; /* Ajusta el margen superior para pantallas muy pequeñas */
    }
}

/*estilo letra 2*/
* {
    margin: 0;
    padding: 0;
  }
  

  .pru {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #5e7676, rgb(108, 247, 247), #3a7f88);
    letter-spacing: 4px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    

}

.lccont{
  margin-bottom: 30px;
}

  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }


