<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlanner</title>
    <link rel="stylesheet" href="/static/style_navbar.css">
    <link rel="stylesheet" href="/static/style_anotaciones.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

</head>
<body>

    <!-- Barra de Navegación -->
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li class="center"><a href="/horario">Horario</a></li>
        <li class="upward"><a href="/calificaciones">Calificaciones</a></li>
        <li class="forward"><a href="/anotaciones">Anotaciones</a></li>
        <li class="forward"><a href="/tareas">Tareas</a></li>
        <li class="forward"><a href="/logout">Cerrar sesión</a></li>
        <li><img class="logo" src="/static/alely1.png" alt="hola" width="90px" height="auto"></li>
    </ul>

    <!-- Contenido de Anotaciones -->
    <section>
        <h2>Anotaciones</h2>
        <form action="/anotaciones" method="post">
            <input type="text" name="title" placeholder="title" required>
            <input type="text" name="content" placeholder="content" required>
            <button type="submit">Guardar</button>
        </form>

        {% for anotacion in anotaciones %}
            <div class="anotacion-container">
                <div class="anotacion-content">
                    <p><strong>{{ anotacion.titulo }}</strong></p>
                    <p>{{ anotacion.contenido }}</p>
                </div>
                <form method="post" action="{{ url_for('eliminar_anotacion', anotacion_id=anotacion.id) }}">
                    <button class="eliminar-btn" type="submit">Eliminar</button>
                </form>
            </div>
        {% endfor %}
    </section>
</body>
</html>
