<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlanner</title>
    <link rel="stylesheet" href="/static/style_navbar.css">
    <link rel="stylesheet" href="/static/style_calificaciones.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>
<body>


    <!-- Barra de Navegación -->
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li class="center"><a href="/horario">Horario</a></li>
        <li class="upward"><a href="/calificaciones">Calificaciones</a></li>
        <li class="forward"><a href="/anotaciones">Anotaciones</a></li>
        <li class="forward"><a href="/tareas">Tareas</a></li>
        <li class="forward"><a href="/logout">Cerrar sesión</a></li>
        <li><img class="logo" src="/static/alely1.png" alt="hola" width="90px" height="auto"></li>
    </ul>
    <form method="post" action="/calificaciones">
        <h2>Ingresar Calificaciones</h2>
        <label for="materia_id">Seleccionar materia:</label>
        <select id="materia_id" name="materia_id" required>
            {% for materia in materias %}
                <option value="{{ materia.id }}">{{ materia.materia }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="calificacion">Calificación:</label>
        <input type="text" id="calificacion" name="calificacion" required>
        <br>
        <button type="submit">Agregar Calificación</button>
    </form>
    <table border="1">
        <tr>
            <th>Materia</th>
            <th>Calificación</th>
        </tr>
        {% for calificacion in calificaciones %}
            <tr>
                <td>{{ calificacion.materia }}</td>
                <td>{{ calificacion.calificacion }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>