<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi horario</title>
</head>
<body>
    <form action="/horario" method="post">
        <input type="text" name="dia_semana" placeholder="Dia semana">
        <input type="text" name="hora_inicio" placeholder="Hora inicio">
        <input type="text" name="hora_fin" placeholder="Hora fin">
        <input type="text" name="materia" placeholder="Materia">
        <button type="submit">Ok!</button>
    </form>
    <table border="1">
        <tr>
            <th>Día Semana</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Materia</th>
        </tr>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.dia_semana }}</td>
                <td>{{ schedule.hora_inicio }}</td>
                <td>{{ schedule.hora_fin }}</td>
                <td>{{ schedule.materia }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>