<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlanner</title>
    <link rel="stylesheet" href="/static/style_navbar.css">
    <link rel="stylesheet" href="/static/style_horario.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <style>
        /* Estilo para el contenedor de errores */
        .contenedor_de_errores {
            margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
            border: 2px solid #ff0000;
            background-color: #ffecec;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <!-- Barra de Navegación -->
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li class="center"><a href="/horario">Horario</a></li>
        <li class="upward"><a href="/calificaciones">Calificaciones</a></li>
        <li class="forward"><a href="/anotaciones">Anotaciones</a></li>
        <li class="forward"><a href="/tareas">Tareas</a></li>
        <li class="forward"><a href="/logout">Cerrar sesión</a></li>
        <li><img class="logo" src="/static/alely1.png" alt="hola" width="90px" height="auto"></li>
    </ul>

    <!-- Formulario de Horario -->
    <form action="/horario" method="post">
        <h2>Mi horario</h2>
        <input type="text" name="dia_semana" placeholder="Día de la semana">
        <input type="text" name="hora_inicio" placeholder="Hora de inicio">
        <input type="text" name="hora_fin" placeholder="Hora de fin">
        <input type="text" name="materia" placeholder="Materia">
        <button type="submit">Agregar al horario</button>
    </form>

    <!-- Tabla de Horario -->
    <table>
    <tr>
        <th>Día Semana</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Materia</th>
    </tr>
    {% if schedules %}
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.dia_semana }}</td>
            <td>{{ schedule.hora_inicio }}</td>
            <td>{{ schedule.hora_fin }}</td>
            <td>{{ schedule.materia }}</td>
            <td>

                <form action="/borrar_horario" method="post">
                    <input type="hidden" value="{{schedule.id}}" name="id_materia">
                    <button type="submit">x</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">No hay datos en el horario.</td>
        </tr>
    {% endif %}
    </table>
</body>

</html>


