<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlanner</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/static/style_navbar.css">
    <link rel="stylesheet" href="/static/style_footer.css">
    <link rel="stylesheet" href="/static/style_index.css">
</head>
<body>

    <!-- Barra de Navegación -->
    <div class="nav-links2">
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li class="center"><a href="/horario">Horario</a></li>
            <li class="upward"><a href="/calificaciones">Calificaciones</a></li>
            <li class="forward"><a href="/anotaciones">Anotaciones</a></li>
            <li class="forward"><a href="/tareas">Tareas</a></li>
            <li class="forward"><a href="/logout">Cerrar sesión</a></li>
            
            <li><img class="logo" src="/static/alely1.png" alt="hola" width="90px" height="auto"></li>
        </ul>

    </div>


    <!-- Contenido Principal -->
        <div class="lccont">
            <p class="letras">My Planner</p>
            <div><p class="pru">Mejora tu organización con los estudios<br><a href="https://codepen.io/grohit/"></a></p></div>
            
        </div>




    

</body>


<footer>
    <div>
        <h3>¿Quiénes somos?</h3>
        <p>Estudiantes de cs50 y actualmente cursamos la carrera de ingeniería en computación en la Universidad Nacional de Ingeniería.</p>
    </div>
    <div>
        <h3>Contacto</h3>
        <p>Aracelly Castillo <a href="mailto:aracellycastillo1302@gmail.com">Enviar correo</a></p>
        <p>Francela Centeno <a href="mailto:centenoalejan10@gmail.com">Enviar correo</a></p>
    </div>
</footer>
</html>



