<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style_login.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="card">
        <img src="/static/alely1.png" alt="Imagen de encabezado" class="header-image">
        <!-- Formulario de inicio de sesión -->
        <div class="field">
            <span class="header">Login</span>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="username" required="required" />
                    <label for="input" class="control-label">Name</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    <input type="password" name="password" required="required" />
                    <label for="input" class="control-label">Password</label><i class="bar"></i>
                </div>
                <div class="button-container">
                    <button type="submit" class="button"><span>Submit</span></button>
                </div>
            </form>
        </div>

        <!-- Formulario de registro -->
        <div class="fab">
            <i class="zmdi zmdi-account-add"></i>
            <div class="field" style="display: none;">
                <span class="header">Register</span>
                <form action="/register" method="post">
                    <div class="form-group">
                        <input type="text" name="new_username" required="required" />
                        <label for="input" class="control-label">Name</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" name="new_password" required="required" />
                        <label for="input" class="control-label">Password</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmation" required="required" />
                        <label for="input" class="control-label">Password again</label><i class="bar"></i>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button"><span>Submit</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.fab').click(function (e) {
                e.stopPropagation();
                $(this).toggleClass('active');
                $(this).children('i').toggleClass('zmdi-account-add');
                $(this).children('i').toggleClass('zmdi-close');
                
                // Muestra u oculta el formulario de registro
                $('.field').fadeIn(); // Cambiado de fadeToggle a fadeIn
            });
    
            // Evitar que el formulario se cierre al hacer clic en él
            $('.field').click(function (e) {
                e.stopPropagation();
            });
    
            // Cerrar el formulario al hacer clic fuera de él
            $(document).click(function (e) {
                if (!$(e.target).closest('.fab').length && !$(e.target).closest('.field').length) {
                    $('.fab').removeClass('active');
                    $('.fab i').removeClass('zmdi-close').addClass('zmdi-account-add');
                    $('.field').fadeOut();
                }
            });
        });
    </script>
  
</body>
</html>




