<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style_login.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="card">
        <img src="/static/alely1.png" alt="Imagen de encabezado" class="header-image">
        <!-- Formulario de inicio de sesión -->
        <div class="field">
            <span class="header">Login</span>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="username" required="required" />
                    <label for="input" class="control-label">Name</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    <input type="password" name="password" required="required" />
                    <label for="input" class="control-label">Password</label><i class="bar"></i>
                </div>
                <div class="button-container">
                    <button type="submit" class="button"><span>Submit</span></button>
                </div>
            </form>
        </div>

        <!-- Formulario de registro -->
        <div class="fab">
            <i class="zmdi zmdi-account-add"></i>
            <div class="field" style="display: none;">
                <span class="header">Register</span>
                <form action="/register" method="post">
                    <div class="form-group">
                        <input type="text" name="new_username" required="required" />
                        <label for="input" class="control-label">Name</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" name="new_password" required="required" />
                        <label for="input" class="control-label">Password</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmation" required="required" />
                        <label for="input" class="control-label">Password again</label><i class="bar"></i>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button"><span>Submit</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.fab').click(function (e) {
                e.stopPropagation();
                $(this).toggleClass('active');
                $(this).children('i').toggleClass('zmdi-account-add');
                $(this).children('i').toggleClass('zmdi-close');
                
                // Muestra u oculta el formulario de registro
                $('.field').fadeIn(); // Cambiado de fadeToggle a fadeIn
            });
    
            // Evitar que el formulario se cierre al hacer clic en él
            $('.field').click(function (e) {
                e.stopPropagation();
            });
    
            // Cerrar el formulario al hacer clic fuera de él
            $(document).click(function (e) {
                if (!$(e.target).closest('.fab').length && !$(e.target).closest('.field').length) {
                    $('.fab').removeClass('active');
                    $('.fab i').removeClass('zmdi-close').addClass('zmdi-account-add');
                    $('.field').fadeOut();
                }
            });
        });
    </script>


{% if data %}
<div class="contenedor_de _errores">
    <h3> {{data}} </h3>
</div>
{% endif %}
  
</body>
</html>


<!--fondo-->
<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-light text-white m-0"></h1>
		<div class="btn-group my-5">
			<!--<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-light" aria-current="page"><i class="fas fa-file-download me-2"></i> SOURCE CODE</a>
			<a href="https://codepen.io/P1N2O/full/pyBNzX" class="btn btn-outline-light">FULL SCREEN <i class="fas fa-expand ms-2"></i></a>-->
		</div>
		<a href="https://manuel.pinto.dev" class="text-decoration-none">
			<h5 class="fw-light text-white m-0"></h5>
		</a>
	</div>
</div>
</div>

