<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlanner</title>
    <link rel="stylesheet" href="/static/style_navbar.css">
    <link rel="stylesheet" href="/static/style_tareas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>

<body>
    <!-- Barra de Navegación -->
    <div>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li class="center"><a href="/horario">Horario</a></li>
            <li class="upward"><a href="/calificaciones">Calificaciones</a></li>
            <li class="forward"><a href="/anotaciones">Anotaciones</a></li>
        <li class="forward"><a href="/tareas">Tareas</a></li>
        <li class="forward"><a href="/logout">Cerrar sesión</a></li>
        <li><img class="logo" src="/static/alely1.png" alt="hola" width="90px" height="auto"></li>
    </ul>
    </div>

    <!-- Contenido de Tareas -->
    <div class="container">
        <div class="todo-app">
            <div class="app-title">
                <h2>Tareas pendientes</h2>
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
            <div class="row">
                <input type="text" id="input-box" placeholder="Agregar tareas">
                <button>Agregar</button>
            </div>
            <ul id="list-container"></ul>
        </div>
    </div>

    <script>
        const inputBox = document.getElementById("input-box");
        const button = document.querySelector("button");
        const list = document.getElementById("list-container");

        function addTask() {
            if (inputBox.value === '') {
                alert("¡Debes escribir algo!");
            } else {
                let li = document.createElement("li");
                li.innerHTML = inputBox.value;
                list.appendChild(li);
                inputBox.value = '';
                let span = document.createElement("span");
                span.innerHTML = "x";
                li.appendChild(span);
            }
            saveData();
        }

        list.addEventListener("click", (e) => {
            if (e.target.tagName === "LI") {
                e.target.classList.toggle("checked");
                saveData();
            } else if (e.target.tagName === "SPAN") {
                e.target.parentElement.remove();
                saveData();
            }
        });

        button.addEventListener("click", addTask);

        function saveData() {
            localStorage.setItem("data", list.innerHTML);
        }

        function showTask() {
            const savedData = localStorage.getItem("data");
            if (savedData) {
                list.innerHTML = savedData;
            }
        }

        window.addEventListener("load", showTask);
    </script>
</body>

</html>









